/* your custom css */
body {
  font-size: 14px;
}

h2,
p > strong {
  font-weight: 700;
  color: #423c5e;
  font-size: 1.1em;
  margin-top: -15px;
}

hr {
  margin: -0.7em auto 1em auto;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
