.social_footer:hover {
  color: white !important;
}

@media (max-width: 736px) {
  .footer_verdoc {
    padding-bottom: 2em;
  }

  .footer_left {
    display: block !important;
  }

  .footer_right {
    padding-left: 0;
  }
}
